.plans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @include media-breakpoint-up(md) {
  }
}
// .comming-soon {
//   z-index: 20;
//   text-align: center;
//   color: red;
//   position: absolute;
//   justify-content: center;
//   text-align: center;
// }
.plan {
  width: 100%;
  padding: 30px 0 10px 0;
  border-radius: 30px;
  font-family: $font-family-heading;
  border: 1px solid $grey2;
  margin-bottom: 40px;
  color: #282A36;
  box-shadow: 0px 10px 10px #cccccc;
  @include media-breakpoint-up(md) {
    flex-basis: 25%;
    margin-bottom: 0;
    border: none;
    border: 1px solid $grey2;
  }
  &.blured {
    // -webkit-filter: blur(10px);
    // -moz-filter: blur(10px);
    // -o-filter: blur(10px);
    // -ms-filter: blur(10px);
    // filter: blur(10px);
    background-color: #fff;
    .plan-main{
      margin-top: 80px;
    }
    .plan-button{
      margin: 0px 30px 30px 30px;
    }
  }
  &.plan-featured {
    background: $primary;
    .plan-price {
      color: $green;
      font-size: 30px;
      text-align: center;
    }
    .plan-name {
      color: white;
      font-size: 30px;
      text-align: center;
    }
    .plan-description, .plan-features-heading {
      color: white;
      text-align: left;
    }
    .plan-features{
      ul {
        li {
          color: white;
        }
      }
    }
    .plan-button {
      .button-outlined {
        color: $green;
        border-color: $green;
      }
      margin: 30px;
    }
  }
  .plan-main {
    padding: 10px 20px;
    text-align: left;
    //border-bottom: 1px solid $grey2;
  }
  .plan-details {
    padding: 10px 20px;
    text-align: left;
    h3{
      margin-bottom: 10px;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 21.78px;
    }
  }
  .plan-name {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    color: $grey; // #282A36;
  }
  .plan-description {
    font-size: 16px;
    line-height: 26px;
    color: darken($steel, 10%);
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      height: 110px;
    }
  }
  .plan-price {
    margin-bottom: 0px;
    @include media-breakpoint-up(md) {
      min-height: 50px;
    }
    .plan-price-currency-symbol {
      font-size: 24px;
      line-height: 28px;
      vertical-align: top;
      display: inline-block;
    }
    .plan-price-number {
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: -1px;
      display: inline-block;
    }
    .plan-price-currency {
      font-size: 20px;
      line-height: 26px;
      display: inline-block;
    }
    .plan-price-hint {
      display: block;
      color: darken($steel, 10%);
      font-size: 14px;
    }
  }
  .plan-hint {
  }
  .plan-button {
    text-align: center;
    .button-outlined {
      color: $primary;
      border-color: $primary;
      width: 100%;
    }
    .button-disabled {
      width: 100%;
      pointer-events: none;
    }
  }
  .plan-terms {
  }
  .plan-features-heading {
    font-weight: 500;
    color: #282A36;
  }
  .plan-features {
    font-weight: 500;
    ul {
      li {
        // background-image: url('/images/check.svg');
        // background-size: 14px;
        // background-repeat: no-repeat;
        // background-position: center left;
        padding: 6px 0 6px 0;
        color: #282A36;
        vertical-align: middle;
        line-height: 22px;
        font-size: 13px;
        svg {
          width: 16px;
          display: inline;
          vertical-align: middle;
        }
        span {
          padding-left: 10px;
          display: inline;
          vertical-align: middle;
        }
      }
    }
  }
}
