.sidebar {
  display: flex;
  flex-direction: column;
  background: $primary-light;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);;
  border-radius: 5px;
  margin: 0 0 0 10px;
  @include media-breakpoint-up(lg) {
    padding: 20px;
  }
  a {
    color: $primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    text-transform: capitalize;
    margin-bottom: 10px;
    color: black;
  }
  ul {
    list-style: none;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
    li {
      list-style: none;
      text-transform: capitalize;
      margin-bottom: 4px;
      a {
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
