@media (min-width: 901px) {
select {
    margin-bottom: 10px;
    margin-top: 10px;
    outline: 0;
    background: #ffffff;
    font-family: initial;
    color: #000;
    padding: 8px;
    border: none;
    border-right: 1px solid rgb(192, 192, 192);
  }
}

@media (min-width: 901px) {
.CodeMirror {
    font-size: 16px;
}
}

@media (max-width: 900px) {
    .CodeMirror {
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    select {
        margin-bottom: 10px;
        margin-top: 10px;
        outline: 0;
        background: #ffffff;
        font-family: initial;
        color: #000;
        padding: 8px;
        border: none;
      }
}

#demo-preview {
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

@media (max-width: 900px) {
#coding-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
}

@media (min-width: 901px) {
    #coding-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

#code-editor-section {
    flex: 1;
}

#command-line-section {
    flex: 1;
}

@media (min-width: 901px) {
.code-container {
    height: 400px;
}
}

@media (max-width: 900px) {
.code-container {
    height: 100px;
}
}


#baseUrl {
  border: none;
  width: 100%;
  font-family: Roboto mono;

}

#cursor {
    /* position: absolute; */
    background-color: rgb(255, 255, 255);

    opacity: 0.5;
}

#editorCurrentLine:focus #cursor {
    /* position: absolute; */
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    animation: blink 1s step-end infinite;
}

@media (min-width: 901px) {
#editorCurrentLine {
    background-color: #282a36;
    color: #fff;
    outline: 0;
    font-family: "Roboto mono" ;
    font-size: 16px;
    caret-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    /* height: 100%; */
    border-left: 1px solid rgb(220 220 220);
    overflow-y: scroll;
    height: 400px;
}
}

@media (max-width: 900px) {
    #editorCurrentLine {
        background-color: #282a36;
        color: #fff;
        outline: 0;
        font-family: "Roboto monospace" ;
        font-size: 12px;
        caret-color: transparent;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        /* height: 100%; */
        border-top: 1px solid rgb(220 220 220);
        overflow-y: scroll;
        height: 100px;
    }
}

@media (max-width: 900px) {
    #api-editor-section {
        border: 1px solid rgb(192, 192, 192);
        display: flex;
        flex-direction: column;
        background-color: white;
    }
}

@media (min-width: 901px) {
#api-editor-section {
    border: 1px solid rgb(192, 192, 192);
    display: flex;
    flex-direction: row;
    background-color: white;
}
}

@keyframes blink {

    from,
    to {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }
}
