{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-posts-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip strip-secondary-light pt-10">
  <div class="container pt-10">
    <div class="row position-relative justify-content-center">
      <div class="col-12 col-lg-8">
        {{ if .Params.tags }}
        <div class="post-tags">
          {{ range .Params.tags }}
          <a class="post-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}
        <h1>{{ .Title }}</h1>
        <a class="post-author-name" href="{{ .Params.linkedIn }}">{{ .Params.author }}</a>
        <div class="post-date pt-1">
        {{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "date_format") }}
            {{ if not .Date.IsZero }}
            <span class="post-date-date">{{ .Date.Format $dateFormat }}</span>
        {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white">
  <div class="container pt-10 pt-md-8 pb-4 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "debug" }}
{{ partial "debug" (dict "context" . "template" "layouts/posts/single.html") }}
{{ end }}