{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-posts-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip strip-primary pt-10">
  <div class="container pb-10 pt-10">
    <div class="row position-relative">
      <div class="col-12">
        {{ if .Params.tags }}
        <div class="post-tags">
          {{ range .Params.tags }}
          <a class="post-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}
        <h1>{{ .Title }}</h1>
        {{ range .Params.authors }}
        {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        <div class="post-author">
          <div class="post-author-avatar">
            <img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="" />
          </div>
          <div class="post-author-info">
            <a class="post-author-name" href="{{ .Permalink }}">{{ .Params.name }}</a>
            {{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "date_format") }}
            {{ if not .Date.IsZero }}
            <span class="post-author-date">{{ .Date.Format $dateFormat }}</span>
            {{ end }}
          </div>
        </div>
        {{ end }}
        {{ end }}
        <div class="dots-small-4"></div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white">
  <div class="container pt-4 pt-md-10 pb-4 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 col-lg-8">
        <div class="content">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "debug" }}
{{ partial "debug" (dict "context" . "template" "layouts/posts/single.html") }}
{{ end }}