{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
<!-- <meta name="theme-color" content="{{ .Site.Params.primary_color }}" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="{{ .Site.Params.primary_color }}" media="(prefers-color-scheme: dark)"> -->
{{ end }}

{{ define "main" }}
<!-- Lead -->
<div class="strip strip-main pt-10 pb-10 pt-md-16 pb-md-12 pt-lg-18 pb-lg-18">
  <div class="nibbles2"></div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 position-relative pt-3">
        <div class="lead">
          <h1>{{ .Params.leadTitle }}</h1>
          <h2>{{ .Params.leadSubTitle }}</h2>
          <div class="lead-buttons">
            {{ if .Params.leadButtonOneLink }}
            <a class="button" href="#demo">{{ .Params.leadButtonOneText }}</a>
            {{ end }}
            {{ if .Params.leadButtonTwoLink }}
            <a class="button-outlined" href={{ .Params.leadButtonTwoLink | relURL }}>{{ .Params.leadButtonTwoText }}</a>
            {{ end }}
          </div>
          {{ .Content }}
        </div>
      </div>
      <div class="capybara">
        <img class="capybara-size" alt="capybara" src="/images/capyochideschis.webp" />
      </div>
      <div class="col-12 col-md-1 pt-3">
        <!-- <img class="terminal" src="/images/video_genezio4.gif"/> -->
        <!-- src="/images/Coding Screen.svg" /> -->
        <video class="terminal" autoplay loop muted>
          <source src="/images/capybara.webm" type="video/webm">
        </video>
      </div>
    </div>
  </div>
</div>

<!-- Features -->
{{ if and (gt (len .Site.Data.features) 0) (.Site.Params.homepage.show_features) }}
<div class="strip strip-white features pt-10 pb-4 pb-md-20">
  <div class="container">
    <div class="row justify-content-center">
      {{ if .Site.Params.homepage.features_title }}
      <div class="col-12">
        <h1 class="text-center">{{ .Site.Params.homepage.features_title }}</h1>
      </div>
      {{ end }}
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-4 mb-2 pt-12">
        <div class="feature">
          {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ .image }}" /></div> {{ end }}
          <h2>{{ .title }}</h2>
          <p>{{ .description }}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{ end }}

<!-- <div class="strip strip-secondary-light pt-10 pb-6 pt-md-10 pb-md-10"></div> -->
<div class="strip strip-primary-gradient product pb-10 pt-md-10 pb-md-10">
  <div class="container p-4">
    <div class="row justify-space-between">
      <div class="col-12 col-md-6">
        <div class="product-text pb-3">
          <h2>Why use genezio?</h2>
          <!-- <p>If you are a frontend developer, regardless if you develop a website, a mobile app on iOS or on Android, or any other app that needs processing in the cloud, you came to the right place.  There is no need to learn another programming language, we will take the functions written in the language you use and deploy them in the cloud automagically.  </p> -->
          <p>{{ .Params.productTextP1 }}</p>
          <p>{{ .Params.productTextP2 }}</p>
          <p>{{ .Params.productTextP3 }}</p>
          <div class="pt-4"></div>
          <span><strong>*For now, we only support JavaScript and TypeScript (beta) as languages</strong></span>
        </div>
        <!-- <div class="lead-buttons">
          <a class="button button-white" href={{ .Params.leadButtonTwoLink | relURL }}>{{ .Params.callToAction }}</a>
        </div> -->
      </div>
      <div class="col-12 col-md-4 offset-md-1 position-relative">
        <!-- <div class="dots-large">
        </div> -->
        <div class="product-right pt-12">
          <img width="400" alt="Why genezio" src="{{ "images/product/2-2.webp" | relURL }}" />
        </div>
      </div>
    </div>
  </div>
</div>

<div id="demo" class="strip strip-white features pt-6 pb-10 pb-md-10">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="col-12 pt-5">
          <h1 class="text-center">{{ .Site.Params.homepage.demo }}</h1>
        </div>
        <div class="lead text-center">
          <!-- <video width="320" height="240" controls>
            <source src="https://www.youtube.com/watch?v=dQw4w9WgXcQ" type="video/mp4">
          </video> -->
          <!-- <iframe loading="lazy" class="video" src="https://www.youtube.com/embed/1Tfrm-nvhCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          <div class="inner" id="placeholder">
            <img alt="demo" class="demo-image" src="/images/demo-image.webp" />
          </div>
          <div class="video" id="player"></div>
            
            <script>
            
            document.getElementById("placeholder").addEventListener("click", function(){
                this.style.display = 'none';
                loadYT()
            });
              // 2. This code loads the IFrame Player API code asynchronously.
              function loadYT() {
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
              }
            
              // 3. This function creates an <iframe> (and YouTube player)
              //    after the API code downloads.
              var player;
            
              function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                  height: '100%',
                  width: '100%',
                  videoId: '1Tfrm-nvhCQ',
                  events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                  }
                });
              }
            
              // 4. The API will call this function when the video player is ready.
              function onPlayerReady(event) {
                event.target.playVideo();
              }
            
              // 5. The API calls this function when the player's state changes.
              //    The function indicates that when playing a video (state=1),
              //    the player should play for six seconds and then stop.
              var done = false;
            
              function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                  //setTimeout(stopVideo, 6000);
                  done = true;
                }
              }
            </script>
        </div>
    </div>
  </div>
</div>

<div class="strip strip-white features pt-md-10">
  <div class="container pb-10">
    <div class="row">
      <div class="col-12">
        <div class="col-12 pb-5 pt-5">
          <h1 class="text-center">{{ .Site.Params.homepage.pricing_title }}</h1>
        </div>
        <div class="plans">
          {{ range .Site.Data.pricing }}
          <div class="plan{{ if .highlighted }} plan-featured{{ end }}{{ if .blured }} blured{{ end }}">
            <div class="plan-main">
              <div class="plan-price">
                <span class="plan-price-number">{{ .price }}</span>
                <span class="plan-price-currency-symbol">{{ .currencySymbol }}</span>
                <!-- <span class="plan-price-currency">{{ .currency }}</span> -->
                <!-- <div class="plan-price-hint">{{ .priceHint }}</div> -->
                <!-- {{ if not .highlighted }}
                  <span class="plan-price-currency">/month</span>
                {{end}} -->
              </div>
              <h3 class="plan-name">{{ .name }}</h3>
              <!-- <div class="plan-description">{{ .description }}</div> -->

              <div class="plan-button">
                <a href="{{ .buttonLink }}" class="{{ if .highlighted }}button-outlined{{ else }}button-disabled{{ end }}">{{ .buttonText }}</a>
              </div>
              <div class="plan-terms">{{ .terms }}</div>
            </div>
            {{ if (gt (len .features) 0) }}
            <div class="plan-details">
              <h3 class="plan-features-heading">{{ .featuresHeading }}</h3>
              <div class="plan-features">
                <ul>
                  {{ range .features }}
                  <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="{{ $.Site.Params.primary_color }}"
                        d="M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z" />
                    </svg><span>{{ . }}</span></li>
                  {{end}}
                </ul>
              </div>
            </div>
            {{ end }}
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white features pb-10 pb-md-1">
  <div class="container pb-10">
    <div class="row">
      <div class="col-12">
        <div class="col-12 pt-5">
          <h1 class="text-center">{{ .Site.Params.homepage.get_started }}</h1>
        </div>
        <div class="lead text-center">
          <div class="lead-buttons">
            {{ if .Params.leadButtonOneLink }}
            <a class="button" href="https://app.genez.io">Get started</a>
            {{ end }}
            <span class="span-or">OR</span>
            {{ if .Params.leadButtonTwoLink }}
            <a class="button-black" href={{ .Params.leadButtonTwoLink | relURL }}>{{ .Params.leadButtonTwoText }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{{ end }}

{{ define "footer_js" }}
{{ $home := resources.Get "js/pages/home.js" }}
{{ $homeJS := slice $home | resources.Concat "js/homeBundle.js" }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ ($homeJS | fingerprint).RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($homeJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

<script type="text/javascript" src="js/demo.js"></script>

{{ end }}

{{ define "debug" }}
{{ partial "debug" (dict "context" . "template" "layouts/index.html") }}
{{ end }}
