.page-home {
  .lead {
    text-align: center;
    position: relative;
    z-index: 20;
    h1 {
      color: $primary-light;
      line-height: 38px;
      font-size: 32px;
      font-weight: 700;
      margin: 0;
      margin-top: 40px;
      margin-bottom: 30px;
      padding: 0 10px 0 0;
      @include media-breakpoint-up(md) {
        width: 100%;
        line-height: 73px;
        font-size: 54px;
      }
    }
    h2 {
      font-family: $font-family-base;
      line-height: 26px;
      font-size: 22px;
      font-weight: 500;
      color: $primary-light;
      margin: auto;
      padding: 0 10px 0 0;
      @include media-breakpoint-up(md) {
        width: 80%;
        line-height: 24px;
        font-size: 20px;
      }
      @include media-breakpoint-down(xs) {
        font-size: 20px;
      }
    }
    .lead-buttons {
      margin-top: 30px;
      // @include media-breakpoint-down(xs) {
      //   display: inline-block;
      // }
      a {
        display: block;
        max-width: 80%;
        margin: 0 auto 0 0;
        @include media-breakpoint-up(sm) {
          display: inline-block;
        }
        @include media-breakpoint-down(xs) {
          display: inline-block;
          margin: 0;
          width: 49%;
          text-align: center;
          padding: 12px 5px 12px 5px;
          overflow: hidden;
          font-size: 16px;
        }
        &:first-of-type {
          //margin-bottom: 10px;
          @include media-breakpoint-up(sm) {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .capybara {
    z-index: 30;
    margin-left: 460px; //480px;
    position: absolute;
    padding-top: 250px;
    @include media-breakpoint-up(sm) {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    @include media-breakpoint-down(xs) {
      z-index: 0;
      margin-left: 0;
      padding-top: 30px;
      position: relative
    }
  }
  .capybara-size {
    height: 234px;
    width: 160px;
    @include media-breakpoint-down(xs) {
      height: 175px;
      width: 120px;
    }
  }
  .terminal {
    border-radius: 12px;
    width: 570px;
    @include media-breakpoint-down(xs) {
      width: 100%;
      margin-top: -80px;
    }
  }
  .left-terminal{
    border-radius: 12px;
    width: 570px;
    @include media-breakpoint-down(xs) {
      width: 100%;
      margin-top: -80px;
    }
  }
  .right-terminal{
    border-radius: 12px;
    width: 570px;
    @include media-breakpoint-down(xs) {
      width: 100%;
      margin-top: -80px;
    }
  }
  .preview {
    z-index: 3;
    position: relative;
    margin-top: -150px;
    @include media-breakpoint-up(md) {
      margin-top: -280px;
    }
    img {
      border-radius: 4px;
      box-shadow: 0 3px 24px 1px rgba(25, 36, 138, 0.1);
    }
  }
  .features {
    h1 {
      font-family: $font-family-heading;
      margin: 0 auto;
      margin-bottom: 40px;
      font-weight: 700;
      line-height: 36px;
      font-size: 32px;
      //color: $carbon;
      background: linear-gradient(90deg, $primary 0%, #282A36 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 90%;
      @include media-breakpoint-up(md) {
        line-height: 57px;
        font-size: 38px;
      }
    }
  }
  .span-or {
    color: black;
    padding: 0 20px 0 10px;
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
  .video {
    width: 65%;
    height: 550px;
    @include media-breakpoint-down(xs) {
      height: 155px;
    }
  }

  .demo-image {
    width: 65%;
  }

  .inner {
    position: absolute;
    width: 100%;
  }
}
