{{ define "title" }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3329235,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.10.2/lottie.min.js" integrity="sha512-fTTVSuY9tLP+l/6c6vWz7uAQqd1rq3Q/GyKBN2jOZvJSLC5RjggSdboIFL1ox09/Ezx/AKwcv/xnDeYN9+iDDA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ end }}

{{ define "main" }}
<!-- Lead -->
<div class="strip strip-main">
  <div class="nibbles2"></div>
  <div class="container lead-container">
    <div class="row justify-content-center">
        <div class="lead">
          <h1>The easiest way to write and deploy your Full Stack Dart application on a serverless architecture.</h1>
          
          <h2>{{ .Params.leadTitle }}</h2>
          <div class="lead-buttons">
            {{ if .Params.leadButtonOneLink }}
            <a class="button-demo start-for-free" href={{ .Params.leadButtonOneLink | relURL }}>{{ .Params.leadButtonOneText }}</a>
            {{ end }}
            {{ if .Params.leadButtonTwoLink }}
            <a class="button-discord-hero" href={{ .Params.leadButtonTwoLink | relURL }}>{{ .Params.leadButtonTwoText }}</a>
            {{ end }}
          </div>
          {{ .Content }}
        </div>
    </div>
    <div class = "row justify-content-center">
      <div class="col-12 col-md-6 pt-3">
          <img class="left-terminal" alt="leftTerminal" src ="/images/backTerminalRow2.webp">
      </div>
      <div class="col-12 col-md-6 pt-3">
        <img class="right-terminal" alt="rightTerminal" src ="/images/frontTerminalRow2.webp">
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white pt-10 pb-4">
  <div class = "container">
    {{ range .Site.Data.reviews }}
    <div class = "row justify-content-center">
      <div class ="review">
        <p>{{ .text }}</p>
        <p>{{ .author }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div>


<!-- Features -->
<div class="strip strip-dark features pt-10 pb-4 pb-md-1">
  <div class ="container container-left-right">
    {{ range .Site.Data.left_right }}
      {{ if  eq .row "1" }}
      <div class = "row left-right-row justify-content-center" style="align-items: center;">
        <div class ="col-12 col-md-5">
          <div class = "left-right-text pt-3" >
            <h2>
              Built for Flutters
            </h2>
            <h3>
              Free hosting  plan available for enthusiasts!
            </h3>
            <p>
              Don’t spend time learning a new programming language, now you can use Dart to implement server-side logic for your Flutter application.
            </p>
            <p>
              Our aim is to help you follow Dart and Flutter best practices so you can be productive and build your application in a familiar environment.
            </p>            
          </div>
        </div>
        <div class ="col-12 col-md-1">
        </div> 
        <div id="savemoney-container" class ="col-12 col-md-5 left-right-row-1-images">
          <div id="savemoney">
          <script>
            var saveMoney = undefined;
            function isElementInViewport (el) {
              var rect = el.getBoundingClientRect();

              return (
                  rect.top >= 0 &&
                  rect.left >= 0 &&
                  rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
                  rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
              );
            }
            function onVisibilityChange(el, callback) {
                var old_visible;
                return function () {
                    var visible = isElementInViewport(el);
                    if (visible != old_visible) {
                        old_visible = visible;
                        if (typeof callback == 'function') {
                            callback();
                        }
                    }
                }
            }
            var handler = onVisibilityChange(document.getElementById('savemoney-container'), function() {
              if (saveMoney == undefined && isElementInViewport(document.getElementById('savemoney-container'))) {
                saveMoney = bodymovin.loadAnimation({
                  container: document.getElementById('savemoney'),
                  renderer: 'svg',
                  loop: false,
                  autoplay: false,
                  path: '/page/SaveMoney.json',
                  name: 'savemoney'
                })
                bodymovin.play('savemoney');
              }
            });
            if (window.addEventListener) {
                addEventListener('DOMContentLoaded', handler, false);
                addEventListener('load', handler, false);
                addEventListener('scroll', handler, false);
                addEventListener('resize', handler, false);
            } else if (window.attachEvent)  {
                attachEvent('onDOMContentLoaded', handler); // Internet Explorer 9+ :(
                attachEvent('onload', handler);
                attachEvent('onscroll', handler);
                attachEvent('onresize', handler);
            }
          </script>
          </div>
        </div>
      </div>
      <hr class="break-line">
      {{ else if eq .row "2"}}
      <div class = "row left-right-row justify-content-center" style="align-items: center;">
        <div class ="col-12 col-md-5 row-2-images">
            <div id="writecleancode-container" class = "left-right-images">
              <div id="writecleancode">
              <script>
                var cleanCode = undefined;
                function isElementInViewport (el) {
                  var rect = el.getBoundingClientRect();

                  return (
                      rect.top >= 0 &&
                      rect.left >= 0 &&
                      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
                      rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
                  );
                }
                function onVisibilityChange(el, callback) {
                    var old_visible;
                    return function () {
                        var visible = isElementInViewport(el);
                        if (visible != old_visible) {
                            old_visible = visible;
                            if (typeof callback == 'function') {
                                callback();
                            }
                        }
                    }
                }
                var handler = onVisibilityChange(document.getElementById('writecleancode-container'), function() {
                  if (cleanCode == undefined && isElementInViewport(document.getElementById('writecleancode-container'))) {
                    cleanCode = bodymovin.loadAnimation({
                      container: document.getElementById('writecleancode'),
                      renderer: 'svg',
                      loop: false,
                      autoplay: false,
                      path: '/page/WriteCleanCode.json',
                      name: 'writecleancode'
                    })
                    bodymovin.play('writecleancode');
                  }
                });
                if (window.addEventListener) {
                    addEventListener('DOMContentLoaded', handler, false);
                    addEventListener('load', handler, false);
                    addEventListener('scroll', handler, false);
                    addEventListener('resize', handler, false);
                } else if (window.attachEvent)  {
                    attachEvent('onDOMContentLoaded', handler); // Internet Explorer 9+ :(
                    attachEvent('onload', handler);
                    attachEvent('onscroll', handler);
                    attachEvent('onresize', handler);
                }
              </script>
              </div>
            </div>
        </div>
        <div class ="col-12 col-md-1">
        </div> 
        <div class ="col-12 col-md-5">
          <div class = "left-right-text left-right-text-row-2" >
            <h2>
              Write clean, mistake-free code
            </h2>
            <h3>
              Let us worry about the boilerplate code. You’ll have the time to focus only on delivering awesome features.
            </h3>
            <h4>
              Clean server API
            </h4>
            <p>
              Organize your API code in classes that are deployed and scaled individually to meet your needs.
            </p>
            <h4>
              Autogenerated client interface
            </h4>
            <p>
              Our scripts generates libraries that can easily expose server logic into the client-side. This enables you to import and call backend methods in a natural way.  
            </p>            
          </div>
        </div>
      </div>
      <hr class="break-line">
      {{ else }}
      <div class = "row left-right-row justify-content-center left-right-row-3" style="align-items: center;">
        <div class ="col-12 col-md-5">
          <div class = "left-right-text left-right-text-row-3" >
            <h2>
              Easy deployment
            </h2>
            <h3>
              Spend zero time configuring servers. Use our serverless infrastructure to deploy and host your application.
            </h3>
            <h4>
              {{ .paragraphHead1 }}
            </h4>
            <p>
              Using our tool you are deploying your application in a “single-command” manner, without prior AWS or cloud knowlegde.
            </p>
            <h4>
              Debugging made easy
            </h4>
            <p>
              You can easily interact and test your server with mock-up data using our testing companion app.
            </p>            
          </div>
        </div>
        <div class ="col-12 col-md-1">
        </div> 
        <div class ="col-12 col-md-5">
          <div id="savetime-container" class="right-image-row-3 pt-10">
            <div id="savetime">
            <script>
              var saveTime = undefined;
              function isElementInViewport (el) {
                var rect = el.getBoundingClientRect();

                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
                );
              }
              function onVisibilityChange(el, callback) {
                  var old_visible;
                  return function () {
                      var visible = isElementInViewport(el);
                      if (visible != old_visible) {
                          old_visible = visible;
                          if (typeof callback == 'function') {
                              callback();
                          }
                      }
                  }
              }
              var handler = onVisibilityChange(document.getElementById('savetime-container'), function() {
                if (saveTime == undefined && isElementInViewport(document.getElementById('savetime-container'))) {
                  saveTime = bodymovin.loadAnimation({
                    container: document.getElementById('savetime'),
                    renderer: 'svg',
                    loop: false,
                    autoplay: false,
                    path: '/page/SaveTime.json',
                    name: 'savetime'
                  })
                  bodymovin.play('savetime');
                }
              });
              if (window.addEventListener) {
                  addEventListener('DOMContentLoaded', handler, false);
                  addEventListener('load', handler, false);
                  addEventListener('scroll', handler, false);
                  addEventListener('resize', handler, false);
              } else if (window.attachEvent)  {
                  attachEvent('onDOMContentLoaded', handler); // Internet Explorer 9+ :(
                  attachEvent('onload', handler);
                  attachEvent('onscroll', handler);
                  attachEvent('onresize', handler);
              }
            </script>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    {{ end }}
  </div>
</div>

<!--  Steps -->
<div class="strip strip-white features pt-10 pb-md-1">
  <div class ="container container-left-right">
    <h1>Easy to use in just 3 steps</h1>

    {{/*  Step 1  */}}
    <div class = "row left-right-row justify-content-center" style="align-items: center;">
      <div class ="col-12 col-md-5 row-2-images d-flex align-items-center pt-4">
           <div class="codeContainer codeContainerSmallHeight">
            <div class="code-wrapper">
              <div class="linesCounter">
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
            </div>

<pre><code>class HelloWorldClass {
  String helloWorld() {
    return "Hello World";
  }

  String hello(String name, String location) {
    return "Hello, $name! Greetings from $location"; 
  }
}</code></pre>
      </div>
    </div>
      
        </div>
        <div class ="col-12 col-md-1">
        </div>
        <div class ="col-12 col-md-5">
          <div class="left-right-text-steps left-right-text-row-2 pt-3 text-justify">
            <h2>
              Step 1
            </h2>
            <h3>
              Bootstrap your first project
            </h3>
            <p>
              Don’t start from scratch, use our templates to get your app going in no-time. Pick a suitable example from our <a href="https://github.com/Genez-io/genezio-examples" target="_blank">GitHub repo</a>. 
            </p>
            <p>
              Test your app locally by running <span class="keyword">genezio local</span> to launch a development environment. Use <span class="keyword">flutter run -d chrome</span> to launch your frontend for Flutter Web.
            </p>
            <p>
             The magic doesn’t stop here. Our tools inherit the beauty of Flutter by providing a portable UI toolkit for web, mobile and desktop. You can plug in your mobile device or simulator to test out you app on Android, iOS or desktop environments.
            </p>
          </div>
        </div>
      </div>

      {{/*  Step 2  */}}
      <div class="row left-right-row justify-content-center" style="align-items: center;">
        <div class="col-12 col-md-5">
          <div class="text-justify left-right-text-steps left-right-text-row-2 pt-3">
            <h2>
              Step 2
            </h2>
            <h3>
              Testing is key
            </h3>
            <p>
              We are developers too, and we love when our apps are working from the first try. But, this doesn’t happen everyday!
            </p>
            <p>
              We aim to create the most enjoyable test environment for you. We are providing a GUI tool, so you can easily interact and test the server logic.
            </p>
            <p>More than that, take advantage of fast build times using hot reload on the server-side.</p>
          </div>
        </div>
        <div class ="col-12 col-md-1">
        </div> 
        <div class ="col-12 col-md-5 row-2-images d-flex align-items-center pt-7">
          
          <div class="codeContainer">
            <div class="code-wrapper">

              <div class="linesCounter">
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
              <span>11</span>
              <span>12</span>
              <span>13</span>
              <span>14</span>
              <span>15</span>
              <span>16</span>
              <span>17</span>
              <span>18</span>
              <span>19</span>
              <span>20</span>
              <span>21</span>
            </div>

              <pre>
<code>/// This is an auto generated code. This code should not be modified since the file can be overwritten 
/// if new genezio commands are executed.

import 'remote.dart';

class HelloWorldClass {
  static final remote = Remote(<"PROJECT_URL">);

  static Future&lt;String&gt; helloWorld(String token, String id) async {
    final response = await remote.call("HelloWorldClass.helloWorld");

    return response as String;
  }

  static Future&lt;String&gt; hello(String name, String location) async {
    final response = await remote.call("HelloWorldClass.hello", [name, location]);

    return response as String;
  }

}</code></pre>
      </div>
    </div>

        </div>
        </div>

      {{/*  Step 3  */}}
      <div class="row left-right-row justify-content-center" style="align-items: center;">
        <div class="col-12 col-md-5 row-2-images d-flex align-items-center pt-7">
          
          <div class="codeContainer">
            <div class="code-wrapper">

              <div class="linesCounter">
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
              <span>6</span>
              <span>7</span>
              <span>8</span>
              <span>9</span>
              <span>10</span>
              <span>11</span>
              <span>12</span>
              <span>13</span>
              <span>14</span>
              <span>15</span>
            </div>

              <pre>
<code>
  class HomePageState extends State<HomePage> {
  @override
  Widget build(BuildContext context) => Scaffold(
        appBar: AppBar(
          actions: [
            IconButton(
              onPressed: () {
                // Call Backend Function
                print(HelloWorldClass.hello("George", "Paris")); 
              },
            ),
          ],
        ),
      );
}</code></pre>
      </div>
    </div>

        </div>
        <div class ="col-12 col-md-1">
        </div> 
        <div class ="col-12 col-md-5">
          <div class="text-justify left-right-text-steps left-right-text-row-2 pt-3" >
            <h2>
              Step 3
            </h2>
            <h3>
              Deploy your project
            </h3>
            <p>
              Once you are satisfied with the results and you want to share your app with whole world, run <span class="keyword">genezio deploy</span>.
            </p>
            <p>
              Sit back and relax while we do all the magic necessary to deploy and auto-scale your application on a serverless infrastructure.
            </p>
            <p>
              We are bundling and uploading your code, generating a production SDK for the frontend-side and configuring a CDN to host your frontend. 
            </p>
            <p>
              Aaand… Done! Your app is live now.
            </p>    
          </div>
        </div>
      </div>
  </div>
</div>

<div class="strip strip-white pb-4">
  <div class="container strip-dark pt-10 pb-10 card" style="width: auto;">
    <div class="container col-12 row p-0">
      <div class="col-12 col-md-6">
        <h2 class="pb-5">Build your Full Stack Dart application now!</h2>
        <p class="pb-5 text-justify">
          Whether you are developing a website or you want to write your first blockchain or AI app, we've got you covered!
        </p>
        <a class="button-outlined" href="https://github.com/Genez-io/genezio-examples" target="_blank">Check out our examples!</a>
      </div>
      <div class="col-md-6 capy">
        <img loading="lazy" class="mx-10" alt="capybara" src="/images/capy.webp"/>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white features pt-md-10">
  <div class="container pb-10">
    <div class="row">
      <div class="col-12">
        <div class="col-12 pb-5 pt-5">
          <h1 class="text-center">{{ .Site.Params.homepage.pricing_title }}</h1>
        </div>
        <div class="plans">
          <script>
                fetch('https://api.genez.io/plans')
                  .then(response => response.json())
                  .then(({subscriptionPlans}) => {
                    subscriptionPlans.map((plan) => {
                      const parsedPlanBenefits = JSON.parse(plan.benefits)
                      const firstBenefits = parsedPlanBenefits.benefits.slice(0, 3); 
                      const secondBenefits = parsedPlanBenefits.benefits.slice(3);

                      // display first benefits data
                      if(plan.price === 0) {
                        let htmlInsert = ''
                        firstBenefits.forEach(item => {
                          htmlInsert += `
                          <li><div class="imgPlaceholder"></div>${item}</li>
                          `
                        })
                        document.getElementById('freeBenefits').innerHTML = htmlInsert
                      }else {
                        let htmlInser = ''
                        firstBenefits.slice(1,firstBenefits.length).forEach(item => {
                          htmlInser += `<li><div class="imgPlaceholder"></div>${item}</li>`
                        })
                        document.getElementById(`${plan.name}Price`).innerHTML = `$${plan.price}<span>/month</span>`
                        document.getElementById(`${plan.name}BenefitsBadge`).innerHTML = `<p>${plan.name == 'Expert' ? 'Professional' : 'Personal'} Plan +</p>`
                        document.getElementById(`${plan.name}Benefits`).innerHTML = htmlInser
                      }

                      // display perks data
                      let htmlInser = ''
                      secondBenefits.forEach((item, idx) => {
                        htmlInser += ` <div class="perks ${idx !== secondBenefits.length - 1 && 'perkBorderBottom' }">${item}</div>`
                      })
                      document.getElementById(`${plan.name}Perks`).innerHTML = htmlInser
                    })
                  })
                  .catch(error => console.error(error));
              </script>
          {{/*  Personal   */}}
          <div class="plan">
            <div class="planHeader">
              <h2>Personal</h2>
              <h3>Free</h3>
            </div>
            <ul id="freeBenefits" class="headerAlign">
            </ul>
            <p class="whatsIncluded">Whats included <span>?</span></p>
            <div id="PersonalPerks" class="perksWrapper">
            </div>
            <a href="https://app.genez.io/billing?plans_modal=true">
              <button class="whiteButton">Choose Plan</button>
            </a>
          </div>
          {{/*  Professional   */}}
          <div class="plan">
            <div class="planHeader">
              <h2>Professional</h2>
              <h3 id="ProfessionalPrice"></h3>
            </div>
              <div id="ProfessionalBenefitsBadge" class="planBadge"></div>
              <ul id="ProfessionalBenefits">
              </ul>
            <p class="whatsIncluded">Whats included <span>?</span></p>
            <div id="ProfessionalPerks" class="perksWrapper">
            </div>
            <a href="https://app.genez.io/billing?plans_modal=true">
              <button class="greenButton">Choose Plan</button>
            </a>
          </div>
          {{/*  Expert   */}}
          <div class="plan">
            <div class="planHeader">
              <h2>Expert</h2>
              <h3 id="ExpertPrice"></h3>
            </div>
            <div id="ExpertBenefitsBadge" class="planBadge"></div>
            <ul id="ExpertBenefits">
            </ul>
            <p class="whatsIncluded">Whats included <span>?</span></p>
            <div id="ExpertPerks" class="perksWrapper">
            </div>
            <a href="https://app.genez.io/billing?plans_modal=true">
              <button class="whiteButton">Choose Plan</button>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white features pb-1 pb-md-1 pb-sm-1">
  <div class="container pb-10">
    <div class="row">
      <div class="col-12">
        <div class="col-12 pt-5 justify-content-center">
          <h1 class="text-center">{{ .Site.Params.homepage.get_started }}</h1>
        </div>
        <div class="lead text-center">
          <div class="lead-buttons">
            {{ if .Params.leadButtonOneLink }}
            <a class="button start-for-free" href="https://app.genez.io">Get started</a>
            {{ end }}
            <span class="span-or">OR</span>
            {{ if .Params.leadButtonTwoLink }}
            <a class="button-black" href="https://discord.gg/uc9H5YKjXv">Join Discord</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{{ end }}

{{ define "footer_js" }}
{{ $home := resources.Get "js/pages/home.js" }}
{{ $homeJS := slice $home | resources.Concat "js/homeBundle.js" }}

{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ ($homeJS | fingerprint).RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($homeJS | minify | fingerprint).RelPermalink }}"></script>
{{ end }}

{{ end }}
