{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pricing{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip strip-white pt-10 pb-6 pt-md-16 pb-md-10 pt-lg-18 pb-lg-10">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="lead">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Plans -->
{{ if (gt (len .Site.Data.pricing) 0) }}
<div class="strip strip-white">
  <div class="container pb-10">
    <div class="row">
      <div class="col-12">
        <div class="plans">
          {{ range .Site.Data.pricing }}
          <div class="plan{{ if .highlighted }} plan-featured{{ end }}">
            <div class="plan-main">
              <h3 class="plan-name">{{ .name }}</h3>
              <div class="plan-description">{{ .description }}</div>
              <div class="plan-price">
                <span class="plan-price-currency-symbol">{{ .currencySymbol }}</span>
                <span class="plan-price-number">{{ .price }}</span>
                <span class="plan-price-currency">{{ .currency }}</span>
                <div class="plan-price-hint">{{ .priceHint }}</div>
              </div>

              <div class="plan-button">
                <a href="{{ .buttonLink }}" class="button-outlined">{{ .buttonText }}</a>
              </div>
              <div class="plan-terms">{{ .terms }}</div>
            </div>
            {{ if (gt (len .features) 0) }}
            <div class="plan-details">
              <h3 class="plan-features-heading">{{ .featuresHeading }}</h3>
              <div class="plan-features">
                <ul>
                  {{ range .features }}
                  <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                      <path fill="{{ $.Site.Params.primary_color }}"
                        d="M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z" />
                    </svg><span>{{ . }}</span></li>
                  {{end}}
                </ul>
              </div>
            </div>
            {{ end }}
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- FAQ -->
{{ if (gt (len .Site.Data.faq) 0) }}
<div class="strip strip-white">
  <div class="container pb-10">
    <div class="row">
      <div class="col-12">
        <h2>Frequently Asked Questions</h2>
        <div>
          <ul>
            {{ range .Site.Data.faq }}
            <li>
              <h3>
                {{ .question }}
              </h3>
              <ul>
                <li>
                  <p>{{ .answer | safeHTML }}</p>
                </li>
              </ul>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
{{ end }}

{{ define "debug" }}
{{ partial "debug" (dict "context" . "template" "layouts/page/pricing.html") }}
{{ end }}