{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-product{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip strip-white pt-10 pb-6 pt-md-16 pb-md-10 pt-lg-18 pb-lg-10">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="lead">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white product">
  <div class="container pb-10 pt-10 pb-md-26 pt-md-10 strip-secondary-light pl-md-6 pr-6">
    <div class="nibbles2"></div>
    <div class="row justify-space-between">
      <div class="col-12 col-md-4 order-1 pb-6 pb-md-0">
        <div class="product-text">
          <h2>Kanban for support teams</h2>
          <p>Churn rate low hanging fruit graphical user interface social media gamification. Non-disclosure agreement
            validation rockstar android partnership.</p>
        </div>
      </div>
      <div class="col-12 col-md-7 offset-md-1 order-2 position-relative">
        <div class="flair-dots-small d-none d-sm-block">
        </div>
        <div class="product-right">
          <img width="900" class="product-border" src="{{ "images/product/kanban2.png" | relURL }}" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white product pt-10 pb-10 pt-md-20 pb-md-20">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-5 order-2 order-md-1 position-relative">
        <div class="product-left-top zindex-3">
          <img width="1100" class="product-shadow" src="{{ "images/product/user-profile.png" | relURL }}" />
        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2 offset-1 pb-4 pb-md-2">
        <div class="product-text">
          <h2>Individual Support Pipelines</h2>
          <p>Churn rate low hanging fruit graphical user interface social media gamification. Non-disclosure agreement
            validation rockstar android partnership.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white product pt-6 pb-6 pt-md-30 pb-md-10">
  <div class="container ">
    <div class="row justify-content-around">
      <div class="col-12">
        <div class="dots-large-2">
        </div>
        <div class="product-text text-center pb-0 pb-md-4">
          <h2>Live Support Chat</h2>
          <p>Churn rate low hanging fruit graphical user interface social media gamification.
            Non-disclosure agreement
            validation rockstar android partnership.</p>
        </div>
      </div>
      <div class="col-12 position-relative zindex-4">
        <div class="">
          <img class="img-fluid product-shadow" src="{{ "images/product/chat.png" | relURL }}" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white product strip-secondary-light pt-10 pb-10 pt-md-10 pb-md-20">
  <div class="container">
    <div class="row justify-space-between">
      <div class="col-12 col-md-5 order-2 order-md-1 position-relative">
        <div class="product-left">
          <img src="{{ "images/product/map.png" | relURL }}" />
        </div>
      </div>
      <div class="col-12 col-md-5 order-1 order-md-2">
        <div class="product-text">
          <h1>Detailed Location Metrics</h1>
          <p>Customer business-to-business product management incubator buyer value proposition gamification innovator
            pitch analytics A/B testing.</p>
          <p>Network effects crowdfunding validation entrepreneur customer. Focus return on
            investment innovator stock partner network business plan lean startup.</p>
          <p>Mass market stealth traction funding
            launch party startup.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white product pt-6 pb-6 pt-md-20 pb-md-20">
  <div class="container">
    <div class="nibbles3"></div>
    <div class="row justify-content-between">
      <div class="col-12 col-md-5 offset-md-1">
        <div class="product-text pt-5">
          <h2>Custom Dashboards</h2>
          <p>Churn rate low hanging fruit graphical user interface social media gamification. Non-disclosure agreement
            validation rockstar android partnership.</p>
        </div>
      </div>
      <div class="col-6 position-relative">
        <div class="product-right">
          <img src="{{ "images/product/welcome.png" | relURL }}" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white product pt-6 pb-6 pt-md-20 pb-md-26">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-md-6 order-2 order-md-1 position-relative">
        <div class="product-left">
          <img width="600" class="product-shadow product-border p-1"
            src="{{ "images/product/bar-chart.png" | relURL }}" />
        </div>
      </div>
      <div class="col-12 col-md-5 order-1 order-md-2 offset-md-1">
        <div class="product-text">
          <h2>Advanced Charting</h2>
          <p>Churn rate low hanging fruit graphical user interface social media gamification. Non-disclosure agreement
            validation rockstar android partnership.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "debug" }}
{{ partial "debug" (dict "context" . "template" "layouts/page/product.html") }}
{{ end }}