{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-single{{ end }}
{{ define "header_classes" }}{{ if (gt (len .Site.Data.features) 0) }}{{ range .Params.headerClasses }}{{ . }}
{{ end }}{{end}}{{end}}

{{ define "main" }}
{{ if not (eq .Params.hero false) }}
{{ partial "hero-image.html" . }}
{{ end }}
<div class="strip strip-white pb-4 pt-4 pb-md-10 pt-md-7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ end }}

{{ define "debug" }}
{{ partial "debug" (dict "context" . "template" "layouts/page/single.html") }}
{{ end }}