.button {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  padding: 12px 20px 13px 20px;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $primary;
  border-radius: 3px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $primary-light;
  text-decoration: none;
  transition: all 0.15s ease;
  border: 2px solid $primary;
  outline: none;
  font-family: $font-family-heading;
  @include media-breakpoint-up(md) {
    padding: 16px 24px 15px 24px;
  }
  &:hover {
    color: #ffffff;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
}
.button-outlined {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  padding: 12px 20px 13px 20px;
  border: 2px solid $green;//$primary-light;
  background: none;
  border-radius: 3px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $green;//$primary-light;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  outline: none;
  font-family: $font-family-heading;
  background: transparent;
  @include media-breakpoint-up(md) {
    padding: 16px 24px 15px 24px;
  }
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    // color: $green;
  }
}
.button-white {
  background: #fff;
  color: $primary;
  font-weight: 700;
  font-size: 22px;
  border: 0;
  &:hover {
    color: lighten($primary, 5%);
    background: $primary-light;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    text-align: center;
  }
}
.button-black {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  padding: 12px 20px 13px 20px;
  border: 2px solid #1A1A1A;
  background: #1A1A1A;
  border-radius: 3px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $primary-light;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  outline: none;
  font-family: $font-family-heading;
  @include media-breakpoint-up(md) {
    padding: 16px 24px 15px 24px;
  }
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    color: $primary-light
  }
}
.button-disabled {
  // cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  padding: 12px 20px 13px 20px;
  border: 2px solid $grey2;
  background: none;
  border-radius: 3px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $grey2;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  outline: none;
  font-family: $font-family-heading;
  background: transparent;
  @include media-breakpoint-up(md) {
    padding: 16px 24px 15px 24px;
  }
  &:hover {
    // transform: translateY(-1px);
    // box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    color: $grey2;
    cursor: not-allowed;
  }
}

.button-demo {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  padding: 12px 20px 13px 20px;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background: $primary;
  border-radius: 3px;
  font-size: 0.938rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $primary-light;
  text-decoration: none;
  transition: all 0.15s ease;
  border: 2px solid $primary;
  outline: none;
  font-family: $font-family-heading;
  @include media-breakpoint-up(md) {
    padding: 9px 25px 9px 25px;
  }
  &:hover {
    color: #ffffff;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
  }
}

.button-discord-hero{
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  padding: 12px 20px 13px 20px;
  border: 2px solid $primary-light;
  background: none;
  border-radius: 3px;
  font-size: 0.938rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $primary-light;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  outline: none;
  font-family: $font-family-heading;
  background: transparent;
  @include media-breakpoint-up(md) {
    padding: 9px 40px 9px 40px;
  }
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    color: $primary-light
  }

}
