.strip {
  background: black;
  background-repeat: no-repeat;
  position: relative;
}
.strip-diagonal {
  transform: skewY(5deg);
  padding-bottom: 50px;
  margin-bottom: 65px;
  > div {
    transform: skewY(-5deg);
  }
}
.strip-primary-gradient {
  background-image: linear-gradient(to right, #2A2B38, $primary);
}
.strip-primary-gradient-top-bottom {
  background-image: linear-gradient(to bottom, $primary, $secondary);
}
.strip-primary,
.strip-bg-primary {
  background-color: $primary;
}
.strip-secondary,
.strip-bg-secondary {
  background-color: $secondary;
}
.strip-secondary-light {
  background-color: $secondary-light;
}
.strip-white,
.strip-bg-white {
    background-color: $primary-light;
}
.strip-main { 
    background-size: cover;
    background-color: rgb(29,29,31);
    height: 120vh;
    @include media-breakpoint-down(sm){
      height: 200vh;
    }
    @media only screen and (min-height: 1000px){
      height: 110vh;
    }
    @media only screen and (min-height: 600px) and (max-height: 700px) and (max-width:500px){
      height: 170vh;
    }
    @media only screen and (min-height: 700px) and (max-height: 800px) and (max-width:500px){
      height: 150vh;
    }
    @media only screen and (min-height: 800px) and (max-height: 900px) and (max-width:500px){
      height: 130vh;
    }
    @media only screen and (min-height: 901px) and (max-height: 1000px) and (max-width:500px){
      height: 120vh;
    }
}
.strip-grey,
.strip-bg-grey {
  background-color: #f0f0f0;
}
.strip-diagonal-right {
  margin-top: -100px;
  transform: skewY(-5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(5deg);
  }
}
.strip-diagonal-left {
  margin-top: -100px;
  transform: skewY(5deg);
  padding-bottom: 100px;
  > div {
    transform: skewY(-5deg);
  }
}
.strip-bg-contain {
  background-size: contain;
}
.strip-bg-cover {
  background-size: cover;
}
.bg-pattern-axiom {
  background-image: url('/images/axiom-pattern.png');
  background-blend-mode: multiply;
}
.bg-pattern-dots-small {
  background-image: url('/images/dots-small.svg');
}
.bg-pattern-dots-large {
  background-image: url('/images/dots-large.svg');
}
.bg-repeat {
  background-repeat: repeat;
}
