.post {
  //display: flex;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  height: 520px;
  width: 350px;
  .post-left {
    margin: auto;
  }
  .post-right {
  }
  .post-date {
    .post-date-date {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: black;
      text-decoration: none;
    }
    .post-date-author {
      text-transform: uppercase;
      font-size: 12px;
      color: black;
      font-weight: 500;
      text-decoration: none;
    }
  }
  .post-content {
    margin-bottom: 20px;
  }
  .post-tags {
    display: inline-block;
    margin-right: 10px;
    margin: 20px auto;
    border: 2px solid #9477C4;
    border-radius: 20px;
    padding: 5px 0;
    a {
      padding: 20px;
      text-transform: uppercase;
      font-size: 12px;
      color: $primary;
      font-weight: 500;
      text-decoration: none;
    }
  }
  .post-categories {
    display: inline-block;
    strong {
      color: #333;
      font-weight: 700;
    }
    .post-category {
    }
  }
  .post-image {
    //width: 100px;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 3px;
    }
  }
  .post-title {
    font-family: $font-family-heading;
    height: 75px;
    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
  .post-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin: 10px auto;
    height: 60px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
  }
  .post-link {
    flex: 0;
    margin-top: auto;
  }
  a.post-read-more {
    font-weight: 400;
    font-family: $font-family-heading;
  }
  .post-meta {
    //display: flex;
    .on {
      margin: 0 4px 0 4px;
    }
  }
  .post-author {
    display: flex;
    .post-author-avatar {
      margin-right: 5px;
      img {
        height: 26px;
        width: 26px;
        border-radius: 50%;
      }
    }
    .post-author-info {
      a.post-author-name {
        font-size: 1rem;
        color: #222;
      }
      span.post-author-date {
        display: none;
      }
    }
  }
}
