<div class="debug">
  <div class="debug-badge">
    <div class="debug-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
        <path fill="white"
          d="M198.829 275.515l5.656 5.656c4.686 4.686 4.686 12.284 0 16.971L54.627 448H116c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12H12c-6.627 0-12-5.373-12-12V364c0-6.627 5.373-12 12-12h8c6.627 0 12 5.373 12 12v61.373l149.858-149.858c4.687-4.687 12.285-4.687 16.971 0zM436 32H332c-6.627 0-12 5.373-12 12v8c0 6.627 5.373 12 12 12h61.373L243.515 213.858c-4.686 4.686-4.686 12.284 0 16.971l5.656 5.656c4.686 4.686 12.284 4.686 16.971 0L416 86.627V148c0 6.627 5.373 12 12 12h8c6.627 0 12-5.373 12-12V44c0-6.627-5.373-12-12-12z" />
      </svg>
    </div>
    <div class="debug-template-name">{{ .template }}</div>
  </div>

  <div class="debug-content">
    <div class="debug-header">
      <!-- Tab links -->
      <div class="tabs">
        <div class="tab">
          <button class="tablinks active" onclick="openTab(event, 'tab-overview')">Overview</button>
          <button class="tablinks" onclick="openTab(event, 'tab-params')">Params</button>
          <button class="tablinks" onclick="openTab(event, 'tab-site')">Site</button>
          <button class="tablinks" onclick="openTab(event, 'tab-menus')">Menus</button>
        </div>

        <div id="tab-overview" class="tabcontent" style="display: block;">
          <table class="debugprint">
            <tr>
              <th class="key">Key</th>
              <th class="value">Value</th>
            </tr>
            <tr>
              <td class="key">Template</td>
              <td class="value">{{ .template }}</td>
            </tr>
            <tr>
              <td class="key">Content Source</td>
              <td class="value">{{ .context.File.Path }}</td>
            </tr>
            <tr>
              <td class="key">Type</td>
              <td class="value">{{ .context.Page.Type }}</td>
            </tr>
            <tr>
              <td class="key">Kind</td>
              <td class="value">{{ .context.Page.Kind }}</td>
            </tr>
            <tr>
              <td class="key">Section</td>
              <td class="value">{{ .context.Page.Section }}</td>
            </tr>
            <tr>
              <td class="key">Layout</td>
              <td class="value">{{ .context.Page.Layout }}</td>
            </tr>

          </table>
        </div>

        <div id="tab-params" class="tabcontent">
          {{ partial "debugprint.html" .context.Params }}
        </div>

        <div id="tab-site" class="tabcontent">
          {{ partial "debugprint.html" .context.Site }}
        </div>

        <div id="tab-menus" class="tabcontent">
          {{ partial "debugprint.html" .context.Site.Menus }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ $debug := resources.Get "js/debug.js" }}
{{ $js := slice $debug | resources.Concat "js/debugBundle.js" }}
{{ if .Site.IsServer }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" src="{{ ($js | minify | fingerprint).RelPermalink }}"></script>
{{ end }}