<div id="menu-main" class="menu-main">
  <ul>
    {{ $currentPage := . }}
    {{ $firstUrlElement := print "/" (index (split .Permalink "/") 1) "/" }}
    {{ range .Site.Menus.main }}
    <li
      class="menu-item-{{ .Name | lower }}{{ if .Pre }} {{ .Pre }}{{ end }}{{if or ($currentPage.IsMenuCurrent "main" .) (eq ($firstUrlElement|lower) (.URL|lower)) }} active{{end}}"
      title="{{ .Name }}">
      <a href="{{.URL}}">
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
    <li
      class="menu-item-{{ "Register" | lower }}"
      title="Register">
      <a class="outline" href="">
        <span>Register</span>
      </a>
    </li>
  </ul>
</div>