<div id="menu-main" class="menu-main">
  <ul>
    {{ $currentPage := . }}
    {{ $firstUrlElement := print "/" (index (split .Permalink "/") 1) "/" }}
    <!-- {{ range .Site.Menus.main }}
    <li
      class="menu-item-{{ .Name | lower }}{{ if .Pre }} {{ .Pre }}{{ end }}{{if or ($currentPage.IsMenuCurrent "main" .) (eq ($firstUrlElement|lower) (.URL|lower)) }} active{{end}}"
      title="{{ .Name }}">
      <a href="{{.URL}}">
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}} -->
    <li
      class="menu-item-{{ "Github" | lower }}"
      title="Github">
      <a href="https://github.com/Genez-io/genezio">
        <img src="/images/github2.png"/>
      </a>
    </li>
    <li
      class="menu-item-{{ "Sign In" | lower }}"
      title="Sign In">
      <a class="outline" href="https://app.genez.io/auth/login">
        <span>Sign In</span>
      </a>
    </li>
    <li
      class="menu-item-{{ "Trt for free" | lower }}"
      title="Try for free">
      <a class="filled" href="https://app.genez.io/auth/signup">
        <span>Try for free</span>
      </a>
    </li>
  </ul>
</div>