.product {
  img {
    vertical-align: bottom;
    @include media-breakpoint-up(xs) {
      width: 100%;
    }
  }
  .product-right {
    z-index: 4;
    position: relative;
    @include media-breakpoint-up(md) {
      position: absolute;
      overflow: visible;
    }
  }
  .product-left-top {
    position: relative;
    right: 0;
    z-index: 2;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: -300px;
    }
  }
  .product-left {
    position: relative;
    right: 0;
    z-index: 2;
    @include media-breakpoint-up(md) {
      position: absolute;
    }
  }
  .product-bottom {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .product-padding {
    padding: 40px;
  }
  .product-shadow {
    box-shadow: 0 3px 24px 1px rgba(25, 36, 138, 0.1);
  }
  .product-radius {
    border-radius: 4px;
  }
  .product-border {
    border: 1px solid $grey;
  }
  .product-text {
    position: relative;
    z-index: 4;
    h2 {
      line-height: 48px;
      font-size: 40px;
      font-weight: 700;
      // background: linear-gradient(90deg, $primary 0%, #282A36 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      color: white
    }
    p {
      line-height: 30px;
      font-size: 18px;
      font-weight: 300;
      color: white;
      @include media-breakpoint-up(lg) {
        position: relative;
        z-index: 10;
        margin-top: 24px;
        line-height: 34px;
        font-size: 20px;
      }
    }
    span {
      color: white;
      font-size: 12px;
    }
  }
}
